<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestionador.Properties.Settings.FimedicalConnectionString"
            connectionString="Data Source=RHA-VIRTUAL\SQLEXPRESS;Initial Catalog=Fimedical;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>